
body {
background-color: #7D8AB4;
color: #474F6A; font: sans-serif, Arial; font-size: 18px
}

.buttonikiwzawartosc {width: 280px;}

.buttoniki a {color: #330066;
background-color: #A3B3E7;
padding: 2px;
padding-left: 5px;
display: block;
border-left: 10px solid #330066;
font: 12px Tahoma, sans-serif;
font-weight: bold;
text-decoration: none;
text-align: left;
margin-top: 1px;
}

.buttoniki a:hover {border-left: 10px solid #9F0034;
text-decoration: none;
color: #9F0034;
}

.pasek {
background-color: #474F6A;
font: 10px Tahoma, sans-serif;
color: #7D8AB4;
}

.promocje {
font: 20px Tahoma, sans-serif;
color: #D8DCE9;
font-weight: bold;
margin-bottom: 10px; margin-left: 10px; margin-right: 10px; margin-top: 10px; text-align: center;
}
.blok {
font: 16px Tahoma, sans-serif;
color: #D8DCE9;
margin-bottom: 10px; margin-left: 10px; margin-right: 10px; margin-top: 10px; text-align: justify;
}

.inc {
font: 18px Tahoma, sans-serif;
color: #474F6A;
font-weight: bold;
margin-bottom: 10px;
margin-left: 50px;
margin-right: 10px;
margin-top: 50px;
text-align: left;
}

.aa {
        font-family: Verdana;
        font-size: 10px;
        color: #DD8917;
        text-decoration: none;
}

.ab {
        font-family: Verdana;
        font-size: 14px;
        color: #D8DCE9;
		  font-weight: bold;	
        text-decoration: none;
}
